:root {
    --vision: #fcd303;
    --vision_text: black;
    --background: #393939;
    --inactive: #999999;
  }

.crypto_vision_activated {
    background-color: var(--vision);
    color: var(--vision_text);
}

.crypto_vision_tooltip {
    background-color: var(--vision);
    color: var(--vision_text);
    font-weight: bold;
    text-align: center;
    border-radius: .5em;
    font-size: 1em;
    padding: 0.25em;
    position: fixed;
    z-index: 1337;
    transform: translate(-50%, -150%);
}

.crypto_vision_popup {
    background-color: var(--background);
    color: var(--vision);
    width: 300px;
    margin: 0;
    text-align: center;
    font-size: 18px;
    font-family: Cambria;
    font-weight: bold;
}

#crypto_vision_activation_button {
    margin: 30px;
    cursor: pointer;
    color: var(--inactive);
}

#crypto_vision_activation_button svg {
    display: block;
    margin: auto;
}

#crypto_vision_activation_button svg path {
    transition: 0.2s;
    d: path("m 64 38 l 54 -28 l -36 48 l -18 -8 l -18 8 l -36 -48 l 54 28 z");
    fill: var(--inactive);
  }

#crypto_vision_activation_button:hover svg path {
    transition: 0.2s;
    d: path("m 64 38 l 58 -32 l -40 52 l -18 -8 l -18 8 l -40 -52 l 58 32 z");
}

#crypto_vision_activation_button.active svg path {
    transition: 0.2s;
    fill: var(--vision);
}

#crypto_vision_activation_button.active span {
    transition: 0.2s;
    color: var(--vision);
}

#crypto_vision_donation_box span {
    color: var(--inactive);
    font-size: 14px;
    padding-bottom: 10px;
    display: inline-block;
    cursor: pointer;
}

#crypto_vision_donation_links {
    text-align: left;
    height: 0;
    overflow: hidden;
}

#crypto_vision_donation_box.open #crypto_vision_donation_links {
    height: auto;
}

#crypto_vision_donation_links img {
    width: 16px;
    display: inline-block;
}

#crypto_vision_donation_links div {
    padding-bottom: 5px;
    margin-left: 15px;
    cursor: pointer;
    display: inline-block;
}

#crypto_vision_donation_links span {
    font-size: 14px;
    position: relative;
    top: -3px;
    color: var(--vision);
    font-weight: normal;
    padding: 0;
}

#crypto_vision_donation_link_address .normal,
#crypto_vision_donation_link_address.crypto_vision_copied .copied {
    display: inline;
    transition: 0.2s;
}

#crypto_vision_donation_link_address .copied,
#crypto_vision_donation_link_address.crypto_vision_copied .normal {
    display: none;
    transition: 0.2s;
}